<div id="managing-applications" class="">
    <h3>Applications</h3>
    <br />
    <p>
        You need team lead access to use the “Manage My Applications” page.
        On this page, you can create and view new applications.
        For each application, you can:
    </p>
    <ul class="list-group">
        <li class="list-group-item">Edit some attributes, such as application code, name, etc.</li>
        <li class="list-group-item">Manage the application’s application fields: these describe how entitlements are defined within that application.</li>
        <li class="list-group-item">Create and view an API user for that application (only one user).</li>
        <li class="list-group-item">Create and view an encryption key for that application (only one).</li>
        <li class="list-group-item">
            Send a request by email to the A&E team to validate the application, before we register it on the production environment.
            The email template will include relevant information that the A&E team needs.
        </li>
    </ul>
</div>