<div id="accessing-the-devportal" class="">
    <h3><p> If you can see this, you have <b>developer</b> access to the developer portal. This grants you the capability to:</p></h3>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><b>Test Users:</b> Create and manage your own test users in A&E</li>
        <li class="list-group-item"><b>Entitlements:</b> Edit your own entitlements, as well as those of your own test users</li>
        <li class="list-group-item"><b>API Calls:</b> Test the API calls like GetUserInformation and view the response</li>
    </ul>
    <br>
    <h3><p>There is a higher level of access for <b>team leads</b>.</p></h3>
    <br>
    <ul class="list-group">
        <li class="list-group-item"><b>Applications:</b> A team lead can register new applications, view the keys for them, etc.</li>
    </ul>
</div>