<div id="managing-test-users" class="">
    <h3>Managing Test Users</h3>
    <br />
    <p>
        As a developer, you can manage your own test users in A&E by going to the page “Manage My Test Users”.
    </p>
    <p>
        Creating a test user requires that you give it a unique username.
        It will check in real-time whether the username is available or not.
        The other fields are optional.
        </p>
    <p>
        You can see the test users you’ve created in the table below.
        These users will also show up in the user dropdowns in the pages “Manage My Entitlements” and “Api Calls”.
    </p>
</div>