<div id="managing-entitlements" class="">
    <h3>Managing Entitlements</h3>
    <br />
    <p>
        In the “Manage My Entitlements” page you can add, edit, and delete entitlements for your own user and your own test users.
    </p>
    <p>
        First you must select a user to manage. Then you can manage that user's entitlements.
    </p>
    <p>
        There are 2 kinds of entitlements: custom entitlements, and standard entitlements.
        A standard entitlement is basically a group of custom entitlements.
    </p>
</div>