
<mat-card-header style="padding:4em; padding-left: 6em">
    <mat-toolbar class="toolbar">
      <mat-card-title><h2>Entitlement Information</h2></mat-card-title>
      <span class="toolbar-spacer"></span>
      <mat-icon (click)="onNoClick()">cancel</mat-icon>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <form [formGroup]="transitionUser" (submit)="onSubmit()">
        <div class="form-group">
          <div class="row">
              <!-- <input type= "hidden" formControlName="Id" class="form-control"> -->
              <div class="col-md-6">
                  <label>Application Name</label>
                  <input type= "text" formControlName="ApplicationName" class="form-control">
                </div>
            <div class="col-md-6">
              <label>Field1</label>
              <input type="text" formControlName="Field1" class="form-control">
            </div>
          </div>
          <div class="row">
                <div class="col-md-6">
                        <label>Field2</label>
                        <input type="text" formControlName="Field2" class="form-control">
                </div>
            <div class="col-md-6">
              <label>Field3</label>
              <input type="text" formControlName="Field3" class="form-control">
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6">
            <button type="submit" class="btn btn-success">
              <mat-icon>save</mat-icon>
            </button>
            </div>
          </div>
        </div>
  
      </form>
    </div>
  </mat-card-content>
