<div class="">
        <div class="">
                <h3> Manage Custom Entitlements</h3>
                <hr>
              <button id="btnNewEntitlement" class="btn btn-primary" (click)="addEntitlement()">Add New Custom Entitlements </button>
              </div>
              <hr>
    <table class="table table-hover">
      <thead>
          <tr>
              <th>Application Name</th>
              <th>Field1</th>
              <th>Field2</th>
              <th>Field3</th>
              <th>Field4</th>
              <th>Field5</th>
              <th>Start Date</th>
              <th>End Date</th>
          </tr>
      </thead>
      <tbody ng-if="customElements.length>0">
          <tr *ngFor="let ent of customElements">
            <td >{{ ent.Application.Name }}</td>  
            <td >{{ ent.Field1 }}</td>
            <td >{{ ent.Field2 }}</td>
            <td >{{ ent.Field3 }}</td>
            <td >{{ ent.Field4 }}</td>
            <td >{{ ent.Field5 }}</td>
            <td >{{ ent.StartDate }}</td>
            <td >{{ ent.EndDate }}</td>
            <td><mat-icon (click)="editEntitlement(ent.Id)">Edit</mat-icon></td>
            <td><mat-icon (click)="deleteEntitlement(ent.Id)">Delete</mat-icon></td>
          </tr>
      </tbody>
    </table>    
  </div>

